body {
    height: 100vh;
}
.menu {
  background-color: #D5B0AC;
  text-align: center;
}

span {
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #402E2A;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

span:hover {
  color: #FFFFFF;
  background-color: #9CD08F;
}

.menu_vertical {
  width: 100px;
  bottom: 0px;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.menu_vertical>a {
  display: inline-block;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-width: thin;
}

embed {
  width: 100%;
  height: 100%;
}
