<title>About</title>
<h1 class="about">About me</h1>
<p><img class="avatar" src="./avatar.jpg" alt="My avatar" align='left' hspace="20">
  <p>Name: Pham Ngoc Thao<br> Age: 21<br> Gender: Male<br>
    <q cite="">I'm a fuck boi who like to fuck around</q>
  </p>
</p>
