<h3 class="ask ">Enter a question: </h3>
<form class="form" action="/api/question"  method="post">
  <input type="text" name="question" value="" placeholder="question" >
  <br>
  <br>
  <input type="submit" name="" value="Submit">
</form>
