<title>Home</title>

<form class="text-center" action="" method="post">
  <label id="question"></label>
  <input class="home yes" type="submit" name="choice" value="yes" style="visibility: {{visibility}}">
  <input class="home no" type="submit" name="choice" value="no" style="visibility: {{visibility}}">
</form>

<script type="text/javascript">
  $.ajax({
    type: 'get',
    url: '/api/question'
  }).done((data) => {
    console.log(data);
    $('#question').html(data.question);
    $("form").attr("action", "api/question" + data.id);
  }).fail((err) => {
    console.log(err);
  });
</script>
