<title>Home</title>

<form class="text-center" action="{{href}}" method="post">
  <label id="question">{{question}}</label>
  <input class="home yes" type="submit" name="choice" value="yes" style="visibility: {{visibility}}">
  <input class="home no" type="submit" name="choice" value="no" style="visibility: {{visibility}}">
</form>
